JWT_SECRET=your-jwt-secret-here
JWT_EXPIRATION=864000 #(Ajustar a tus necesidades)
PDF_PATH_SAVE=./constancias
MAX_FILE=10MB #(Ajustar a tus necesidades)
SERVER_PORT=8082 #(Ajustar a tus necesidades)
URL_DB=jdbc:postgresql://localhost:5432/name-db
USER_DB=your-db-user
PASS_DB=your-db-password

# Initial data
ADMIN_PASSWORD=your-admin-password
CAPTURISTA_PASSWORD=your-capturista-password
